




.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.header{
  display: grid;
grid-gap: 1rem;
grid-template-columns: 1fr 5fr 2.5fr;
grid-template-rows: 1fr 6fr 3fr;
grid-template-areas:
"header header header"
"sidebar main aside"
"sidebar bottom bottom";
  border: 1px solid black
}
.future-flights{
  grid-area: bottom;
  width: 700px;
  border:1px solid blue;
}
.title {
  grid-area: main;
  text-align: center;
  padding-bottom: 10px;
}
.weather-box{
  /* grid-column: 1;
  grid-row:2; */
  grid-area: sidebar;
  border: 1px solid blue;
  width: 300px;
}
.flight{
  grid-area: aside;
}
ul{
  list-style: none;
}
li{
  color: #333;
  
}
.navbar{
  background: #eaeaea;

}


/* .create-flight{
  background-color: rgb(145, 145, 255);
  float: left;
  margin: auto;
  

}
.create-flight-form{
  float: left;
}
.flight-index{
  position: relative;
  
}
.weather-container {
  float: right;
} */