.App {
  text-align: center;
  background: rgb(92, 60, 60)
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.header{
  border: 3px solid red
}
.future-flights{
  width: 700px;
  border: 3px solid blue;
}
.title {
  text-align: center;
}
.weather-box{
  border: 2px solid blue;
  width: 300px;
}


/* .create-flight{
  background-color: rgb(145, 145, 255);
  float: left;
  margin: auto;
  

}
.create-flight-form{
  float: left;
}
.flight-index{
  position: relative;
  
}
.weather-container {
  float: right;
} */