.weather-box{
  top: 0;
  left: 0;
}

.title{
  height: auto;
  width: auto;
  background-color: rgb(43, 129, 209)
}
.navbar a{

  font-size:1.5em;
}
.header{
  background-color: rgb(230, 229, 248)
}
#plane{
  width: auto;
  height: auto;
}
.flight{
  width: 500px;
  padding-bottom: 70px;

}
.future-flights{
  float: center;
  width: auto;
}
